# Rename this file to .env and fill in the values below

# REQUIRED: the port on which the UI will run
PORT=5173

# REQUIRED: the host on which the UI will run
# set to 0.0.0.0 for network access
HOST=localhost

# REQUIRED: TMDB API key, get one for free at https://www.themoviedb.org/documentation/api
VITE_TMDB_API_KEY=your_tmdb_api_key_here

# REQUIRED: URL of the StarLight Core backend
VITE_OMSS_API_URL=http://localhost:3000

# Define allowed hosts for CORS (comma separated, or * for all)
ALLOWED_HOSTS=*

# Set to true for standalone mode (no backend server required)
VITE_STANDALONE=false

# Enable if running behind a reverse proxy
TRUST_PROXY=false
